*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: rgb(0 100 0 / 0.1) !important; */
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Nav part Start */

.main-nav{
    background: transparent !important;
    position: fixed;
    width: 100%;
    padding: 50px 0;
    border-bottom: 1px solid #9fa0a1;
    z-index: 99;
}
.nav-links ul li {
    display: block;
    margin: 30px 20px;
}
.nav-links {
    position: fixed;
    background: #17181a;
    height: 100%;
    width: 400px;
    top: 0;
    right: -400px;
    text-align: left;
    z-index: 2;
    transition: 1s;
}
.nav-links i{
    margin: 20px;
    font-size: 30px;
    cursor: pointer;
}
.nav-links ul li a{
    position: relative;
    color: #cfd0c5;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
.nav-links ul li a:hover{
    color: #f24b1c;
}
.main-nav i{
    cursor: pointer;
    color: #fff;
    font-size: 30px;
}
.extra-logo{
    padding: 15px;
    border-bottom: 1px solid #fff;
}
.extra-contact h4{
    font-size: 30px;
    font-weight: 700;
    margin: 50px 0 20px 30px;
    color: #cfd0c5;
}
.extra-contact p{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: #cfd0c5;
}
.extra-contact i{
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border: 1px solid #cfd0c5;
    font-size: 30px;
    color: #f01111;
}

/* Nav part End */


/* Banner Part Start */

#banner{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)),url(../images/banner-3.jpg) no-repeat center/cover;
    height: 100vh;
    position: relative;
}
.banner-text{
    position: absolute;
	top: 50%;
	left: 15%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.banner-icon{
    position: absolute;
    bottom: 10%;
    left: 15%;
}
.banner-icon a{
    display: inline-block;
    margin: 0 10px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #cfd0c5;
    color: #cfd0c5;
    font-size: 22px;
    position: relative;
    z-index: 1;
}
.banner-icon a::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: #f01111;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
}
.banner-icon a:hover::after{
    width: 100%;
}
.banner-btn{
    margin: 50px 0;
}
.banner-btn a{
    padding: 10px 30px;
    color: #cfd0c5;
    font-size: 20px;
    font-weight: 500;
    z-index: 1;
    position: relative;
    border: 1px solid #f24b1c;
    background-color: #f24b1c;
}
.banner-btn a::after{
    z-index: -1;
    position: absolute;
    content: '';
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #17181a;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
}
.banner-btn a:hover::after{
    width: 100%;
}

/* Banner Part End */


/* Skill part Start */

#skill{
    background: #030404;
}
.skill-image{
    position: relative;
}
.skill-image img{
    height: auto;
    width: 65%;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
.skill-image span {
   color: #fff;
   position: absolute;
   top: 50%;
   font-size: 120px;
   line-height: 130px;
   text-transform: uppercase;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke-width: 0.5px;
   font-weight: 700;
   width: 100%;
   opacity: 0.5;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
}
.progressbar-part{
    margin-top: 70px;
    height: auto;
}
.title{
    color: #cfd0c5;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}
.progressbar{
    background-color: #17181a !important;
}

/* Skill part End */

/* Portfolio Part Start */

#portfolio{
    background: #121717;
}
.port-head{
    margin: 150px 0 40px 0;
}
.port-head h6{
    color: #f01111;
    font-size: 25px;
    font-weight: 500;
}
.port-head h2{
    color: #cfd0c5;
    font-size: 35px;
    font-weight: 700;
}
.port-inner{
    position: relative;
    margin: 20px 0;
}
.port-inner img{
    width: 100%;
}
.overlay{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #f0111188;
    transition: all linear 0.6s;
    -webkit-transition: all linear 0.6s;
    -moz-transition: all linear 0.6s;
    -ms-transition: all linear 0.6s;
    -o-transition: all linear 0.6s;
}
.port-inner:hover .overlay{
    opacity: 1;
    width: 100%;
}
.overlay i{
    color: #cfd0c5;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.mixit-btn{
    padding-bottom: 50px;
    position: relative;
}
.mixit-btn button{
    outline: none;
    background: transparent;
    width: 150px;
    height: 50px;
    text-align: center;
    color: #cfd0c5;
    margin: 0 10px;
    border: none;
    font-size: 25px;
    font-weight: 500;
}
.mixit-btn button:hover{
    color: #f01111;
}
.mixit-btn::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 70%;
    background-color: #cfd0c5;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.mixitup{
    padding: 20px 0;
}
.mixitup-control-active{
    color: #f01111 !important;
}

/* Portfolio Part End */

/* Comment Part Start */

#comment{
    background-color: #121717;
    padding: 100px 0 0 0;
}
.company-icon{
    margin: 100px 20px;
}
.company-icon img{
    width: 100%;
}
.company-main{
    background: url(../images/reviews.jpg) no-repeat center/cover;
    padding: 200px 0;
    position: relative;
}
.comment-inner{
    width: 600px;
    background: #030404;
    position: absolute;
    top: -10%;
    left: 16%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.comment-inner h2{
    padding: 50px 0px 20px 20px;
    color: #cfd0c5;
    font-size: 50px;
    font-weight: 700;
}
.comment-inner p{
    padding: 30px 20px;
    color: #cfd0c5;
    font-size: 16px;
    font-weight: 400;
}
.inner-img{
    margin: 0 auto;
    overflow: hidden;
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #cfd0c5;
}
.inner-img img{
    width: 100%;
}
.inner-text h5{
    color: #9fa0a1;
    font-size: 30px;
    font-weight: 700;
}
.inner-text p{
    color: #9fa0a1;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
}

/* Comment Part End */

/* Contact Part Start */

#contact{
    background: #121717;
    padding: 50px 0;
}
.contact-head h5{
    font-size: 22px;
    font-weight: 500;
    color: #f01111;
}
.contact-head h2{
    font-size: 45px;
    font-weight: 700;
    color: #cfd0c5;
}
.contact-main iframe {
	width: 100%;
	height: 570px;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}

/* Contact Part End */

/* Copyright Part Start */

#copyright{
    background: #030404;
}
.social-link{
    padding: 70px 0 30px 0;
}
.social-link ul li{
    display: inline-block;
}
.social-link ul li a{
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0 20px;
    border: 2px solid #9fa0a1;
    color: #cfd0c5;
    font-size: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    z-index: 1;
}
.social-link ul li a::after{
    z-index: -1;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f01111;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0;
}
.social-link ul li a:hover::after{
    opacity: 1;
}
.second-menu ul li{
    display: inline-block;
}
.second-menu ul li a{
    text-transform: uppercase;
    margin: 0 20px;
    text-align: center;
    color: #cfd0c5;
    font-size: 20px;
    font-weight: 500;
}
.second-menu{
    padding-bottom: 30px;
    border-bottom: 1px solid #9fa0a1;
}
.second-menu ul li a:hover{
    color: #f01111;
}
.copyright-inner{
    padding: 20px 0;
}
.copyright-inner h4{
    text-align: center;
    color: #cfd0c5;
    font-size: 20px;
    font-weight: 500;
}
.copyright-inner h4 span a{
    text-align: center;
    color: #f01111;
    font-size: 25px;
    font-weight: 700;
}

/* Copyright Part End */


/* Contact Part Start */

#contact{
    padding: 200px 0 20px 0;
    background-color: #121717;
}
.contact-header{
    width: 620px;
    text-align: justify;
}
.contact-header h2{
    color: #cfd0c5;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
}
.contact-header p{
    color: #808e8e;
    font-size: 18px;
    font-weight: 400;
}
.contact-main input{
    padding-left: 20px;
    width: 300px;
    height: 50px;
    margin: 0 15px 40px 0;
    background: #2b2b2b;
    color: #adaca9;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    border: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.contact-main textarea{
    margin-bottom: 30px;
    padding: 20px;
    background-color: #2b2b2b;
    width: 620px;
    color: #adaca9;
    font-size: 20px;
    font-weight: 500;
    border: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.contact-main a{
    padding: 10px 30px;
    position: relative;
    color: #cfd0c5;
    background: #f01111;
    border: 1px solid #adaca9;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    z-index: 1;
}
.contact-main a::after{
    z-index: -1;
    position: absolute;
    content: '';
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #17181a;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
}
.contact-main a:hover::after{
    width: 100%;
}
.contact-info{
    margin-bottom: 50px;
}
.contact-info h3{
    font-size: 35px;
    font-weight: 700;
    color: #adaca9;
    font-family: 'Source Sans Pro', sans-serif;
}
.contact-info p{
    font-size: 18px;
    font-weight: 500;
    color: #adaca9;
}
.presonal-info{
    display: flex;
    position: relative;
}
.presonal-info::after{
    position: absolute;
    content: '';
    top: 0;
    left: 12%;
    height: 100%;
    width: 2px;
    background-color: #cfd0c5;
}
.presonal-icon{
    text-align: center;
    width: 10%;
    margin: 20px 50px 0 0;
}
.presonal-icon i{
    font-size: 30px;
    color: #f01111;
}
.presonal-text{
    width: 90%;
    text-align: left;
    margin-bottom: 20px;
}
.presonal-text h4{
    font-weight: 700;
    font-size: 27px;
    color: #f01111;
    font-family: 'Source Sans Pro', sans-serif;
}
.presonal-text h6{
    font-weight: 400;
    font-size: 18px;
    color: #cfd0c5;
    font-family: 'Source Sans Pro', sans-serif;
}


/* Contact Part End */




/* Js Part Start */

@keyframes tushar {
    from{
        margin-top: -90px;
    }
    to{
        margin-top: 0;
    }
}
.nav-bg{
    background-color: #222 !important;
    animation: tushar 1s;
    -webkit-animation: tushar 1s;
}
.extra-btn{
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f01111;
    z-index: 1;
    cursor: pointer;
    display: none;
}
.extra-btn i{
    color: #000;
    font-size: 30px;
    font-weight: 900;
}
.extra-btn:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.company-extra{
    height: 200px;
    width: 600px;
}
.slick-dots{
    position: absolute;
    bottom: 1%;
    left: 50%;
    color: #fff;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.slick-dots li{
    display: inline-block;
    margin: 0 10px;
}
.slick-dots li button{
    font-size: 0;
    height: 16px;
    width: 16px;
    background: #fff;
    border-radius: 50%;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.slick-dots .slick-active button{
    background: rgb(255, 0, 0);
}

/* Js Part End */
